@import './var.scss';

.#{$namespace}-icon-left:before,
.#{$namespace}-icon-right:before,
.#{$namespace}-icon-double-left:before,
.#{$namespace}-icon-double-right:before,
.#{$namespace}-icon-double-left:after,
.#{$namespace}-icon-double-right:after {
  content: '';
  position: relative;
  top: -.1rem;
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  vertical-align: middle;
  border-style: solid;
  border-color: $color-main--darkgray;
  border-width: .2rem 0 0 .2rem;
  border-radius: .1rem;
  box-sizing: border-box;
  transform-origin: center;
  transform: rotate(-45deg) scale(0.7);
}

.#{$namespace}-icon-double-left:after {
  left: -.4rem;
}

.#{$namespace}-icon-double-right:before {
  left: .4rem;
}

.#{$namespace}-icon-right:before,
.#{$namespace}-icon-double-right:before,
.#{$namespace}-icon-double-right:after {
  transform: rotate(135deg) scale(0.7);
}
