$red-main: #D6073D;
$black-main: #33343D;
$gray-main: #9496A6;
$gray-helper: #F7F7F7;
$gray-light: #F0F1F9;
$green-main: #38D828;
$blue-main: #398FF3;
$white: #FFFFFF;

//new style

$color-main--white: #FFFFFF;
$color-main--lightgray: #EFF1F9;
$color-main--middlegray: #C9CDE0;
$color-main--darkgray: #6F849C;
$color-main--orange: #EEB969;

$color-main--black: #303136;

$color-main--red: #BD0D22;
$color-main--red-light: #E35760;

$color-main--green: #6FBC9A;

$color-main--blue: #1C5BFE;

$color-main--purple: #C248B6;
